{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1 class="mt-5">Добро пожаловать в учебный проект на Flask!</h1>
    <p class="lead">Это пример главной страницы для учебного проекта.</p>
    <p>Здесь можно разместить описание проекта, его цели и задачи.</p>
    <img src="../static/image/placeholder.jpg" class="img-fluid" style="height: 200px;" alt="Заглушка">
    <p class="mt-4">Этот проект демонстрирует базовую структуру веб-приложения на Flask с использованием шаблонов и статических файлов.</p>
{% endblock %}